/*Reset*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Reset*/

/*Common start*/

body{
    background-color: rgb(138, 199, 228);
    font-family: Arial, Helvetica, sans-serif;
}

/*Common end*/



/*Header start*/
header{
    padding: 10px;
    height: 75px;
    background-color: white;
}

header h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    font-weight: 800;
}


header img{
    vertical-align: middle;
}


/*Header end*/

/*Main start*/

.main-align {
    width: 70%;
    margin: auto;
}

nav {
    margin-top: 20px;
}

.link1{
 
 border: 1px solid rgb(84, 84, 233);
 border-radius: 10%;
 text-decoration: none;
 background-color: cornflowerblue;
 color: white;
 font-size: 10px;
 padding: 7px;

}

.link2{
    border: 1px solid lightgray;
    border-radius: 10%;
    text-decoration: none;
    background-color:white;
    color: grey;
    font-size: 10px;
    padding: 7px;
    

 

}







/*Main end*/



